/* Hero Section Styles */

.hero-container {
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting {
    color: #5570F8;
    font-weight: bold;
}
.greeting i {
    background-color: #E0E7FF;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.hero-left h1 {
    font-size: 70px;
    font-weight: bold;
}

.hero-left h2 {
    color: #94A3BC;
    font-size: 30px;
}

.hero-left h2 span {
    color: black;
}

.bio {
    color: #94a2b7;
}

.points {
    display: flex;
    gap: 20px;
}

.points span {
    background-color: #F1F5F9;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    font-weight: 600;
    font-size: 14px;
    color: #4a4a4a;
}
.points span i {
    margin-right: 10px;
    color: #5570f8;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-right {
    width: 500px;
    border: 1px solid rgb(210, 210, 210);
    padding: 50px;
    border-radius: 30px;
    background-color: #F1F5FD;
}

.hero-image img {
    width: 100%;
    border: 3px solid #7263F3;
    border-radius: 30px;
    background-color: white;
}

.info {
    width: 100%;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    gap: 30px;
}
.info span i {
    margin-right: 10px;
}

.tech-focus {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.tech-focus div {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tech-focus div span {
    padding: 15px 20px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.skills-section {
    padding: 50px 0;
}

/*Skills Section Styles*/

.skills-container h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.skill-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-box-container div {
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #dbdbdb;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill-box-container div span {
    padding: 25px 30px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.skill-box-container div p {
    color: #616161;
    text-align: center;
    line-height: 1.5;
}

